<?php

if(!$this->getConfig('enabled')) return;

$_productCollection=$this->getProductCollection();
$_helper = $this->helper('catalog/output');
$helpLabels = $this->helper('themevast/labels');
?>

<div class="featuredproduct">
	<?php echo $this->getConfig('title') ? '<div class="bx-title featured-title"><h2>' .$this->getConfig('title'). '</h2></div>' : '';
	if(!$_productCollection->count()): ?> 
		<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
	<?php else: ?>
	<?php
		// getConfig
		$widthImage  	= $this->getConfig('widthImage') ? $this->getConfig('widthImage') : 135;
		$heightImage 	= $this->getConfig('heightImage') ? $this->getConfig('heightImage') : 135;
		$price   		= $this->getConfig('price');
		$cart    		= $this->getConfig('cart');
		$compare  		= $this->getConfig('compare');
		$wishlist  		= $this->getConfig('wishlist');
		$review  		= $this->getConfig('review');
		$slide  		= $this->getConfig('slide');
		$rows 			= $this->getConfig('rows');
		$class 			= ($slide && $rows > 1) ? '.slide-multirows' : '.products-grid';
	?>
	<?php if ($slide && $rows > 1): ?>
	<div class="slide-multirows">
	<?php endif ?>
	<?php $_collectionSize = $_productCollection->count() ?>
	<?php $_columnCount = $this->getColumnCount(); ?>
	<?php $j=0; $time = $this->getConfig('playDelay'); ?>
	<?php $i=0; foreach ($_productCollection as $_product): ?>
	<?php $t = $j*$time; $t .='ms'; $j++; ?>
	<?php if ($i++%$_columnCount==0): ?>
	<ul class="products-grid">
	<?php endif ?>
		<li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?> item-animate">
		<div class="item-inner">
			<?php // Product Image ?>
			<div class="box-images">
			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
			<?php $imagehv = $_product->load('media_gallery')->getMediaGalleryImages()->getItemByColumnValue('position','2');
				if($imagehv) : 
				$imagehv = $imagehv->getFile();
				?>
				<img class="img-face-back" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $imagehv)->resize($widthImage, $heightImage) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
			<?php endif ?>
				<img class="img-face" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($widthImage, $heightImage); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
			</a>
			<a class="view-detail" <?php if(Mage::getStoreConfig('quickview/general/enabled')):?> id='fancybox<?php echo $_product->getId()?>'  href="<?php echo $this->getUrl('quickview/index/ajax',array('product_id'=>$_product->getId())); ?>"<?php else: ?> href="<?php echo $_product->getProductUrl() ?>" href="<?php echo $_product->getProductUrl() ?>" <?php endif ?> title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><i class="fa fa-search"></i></a>
			</div>
			<div class="product-shop">
				<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
				<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
				<?php if($review): ?>
					<?php echo $this->getReviewsSummaryHtml($_product) ?>
				<?php endif; ?>
				<?php if($price): ?>
					<?php echo $this->getPriceHtml($_product, true) ?>
				<?php endif; ?>
				<div class="actions">
					<?php if($cart): ?>
						<?php if($_product->isSaleable()): ?>
							<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="fa fa-shopping-cart"></i><?php echo $this->__('Add to Cart') ?></span></span></button>
						<?php else: ?>
							<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
						<?php endif; ?>
					<?php endif; ?>
					
					<?php if($compare || $wishlist): ?>
						<ul class="add-to-links">
							<?php if($compare): ?>
						<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
							<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-exchange"></i><?php //echo $this->__('Add to Compare') ?></a></li>
						<?php endif; ?>
						<?php if($wishlist): ?>
							<?php if ($this->helper('wishlist')->isAllow()) : ?>
								<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><i class="fa fa-heart"></i><?php //echo $this->__('Add to Wishlist') ?></a></li>
							<?php endif; ?>
						<?php endif; ?>
					<?php endif; ?>
				</ul>
			<?php endif; ?>
				</div>
			</div>
			<?php echo $helpLabels->getLabels($_product); //Product labels ?>
		</div>
		</li>
	<?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
	</ul>
	<?php endif ?>
	<?php endforeach ?>
	<?php if ($slide && $rows > 1): ?>
	</div>
	<?php endif ?>
	<?php endif ?>
	<?php if($slide) : ?>
		<script type="text/javascript">
			jQuery(document).ready(function($){
				(function(selector){
					var $content = $(selector);
					var $slider  = $('<?php echo $class ?>', $content);
					var slider 	 = $slider.bxSlider({
						<?php echo $this->setBxslider() ?>
						//infiniteLoop: false,
						moveSlides:1,
						slideMargin: 30,
						autoHover: true, // stop while hover <=> slider.stopAuto(); + slider.startAuto();
					})
		
				})(".featuredproduct");
			});
		</script>
	<?php endif ?>
</div>




